절대평가 성적 채점기
=======

문제 및 코드
-----
[문제](https://www.acmicpc.net/problem/9498)




# 제출 코드

A=int(input())
if 90<=A<=100:
    print('A')   
elif 80<=A<90:
    print('B')    
elif 70<=A<80:
    print('C')    
elif 60<=A<70:
    print('D')    
else:
    print('F')




- - - - - 

설명
------
